
<!-- template from https://www.mail-signatures.com/signature-generator/#/after-dark -->
<table cellpadding="0" cellspacing="0" border="0"
    style="font-family: &quot;Segoe UI&quot;, Arial,Helvetica,sans-serif; background:#062f3d; color: #ffffff; line-height: 1.4; border-collapse: separate;">
    <tbody>
        <tr>
            <!-- Left Logo Section -->
            <td width="180" style="padding:25px;text-align:center;vertical-align:middle;">

                <img src="https://lh3.googleusercontent.com/d/1GlSliP4pN9481VDT4oLBLgQfTAqngxmq=s130" style="width: 100%;" />

            </td>

            <!-- Divider -->
            <td style="width:1px;height:250px;padding:0 18px;vertical-align:middle;">
                <div
                    style="width:1px;height:80%;background:#2ef0e0;opacity:0.45;font-size:0;line-height:0;margin:0 auto;">
                </div>
            </td>

            <!-- Right Content -->
            <td style="padding: 25px;">
                <!-- Name -->
                <div style="font-size:12pt;font-weight:bold;">
                    Verdurme Robbie
                </div>

                <!-- Role -->
                <div style="font-size:12pt;margin-bottom:20px;">
                    Developer
                </div>

                <!-- Contact -->
                <div style="font-size:10pt;line-height:15px;">

                    <strong style="color:#2ef0e0;">
                        Mobile:
                    </strong>

                    <a href="tel:+32478995889" style="color:#ffffff;text-decoration:none;">
                        +32 478 99 58 89
                    </a>

                    <br>

                    <strong style="color:#2ef0e0;">
                        Email:
                    </strong>

                    <a href="mailto:robbievrdrm@gmail.com" style="color:#ffffff;text-decoration:none;">
                        robbievrdrm@gmail.com
                    </a>

                </div>

                <!-- Website -->
                <div style="margin-top:10px;">

                    <a href="https://robbieverdurme.github.io/Personal_Site/" style="font-size:10pt;
                              color:#2ef0e0 !important;
                              text-decoration:none !important;">
                        robbieverdurme.github.io/Personal_Site
                    </a>

                </div>

                <!-- Social Icons -->
                <table cellpadding="0" cellspacing="0" border="0" style="margin-top:20px;color:#2ef0e0;font-size:18px;line-height:1;font-weight:400;text-align:center;vertical-align:middle;" align="center">
                    <tr>

                        <td>
                            <a href="https://github.com/RobbieVerdurme">
                                <img src="https://img.icons8.com/ios-filled/100/ffffff/github-2.png" width="32"
                                    alt="GitHub" style="display:block;border:0;">
                            </a>
                        </td>

                        <td style="width:30px;">
                            |
                        </td>

                        <td>
                            <a href="https://www.linkedin.com/in/robbie-verdurme/">
                                <img src="https://img.icons8.com/ios-filled/100/ffffff/linkedin.png" width="32"
                                    alt="LinkedIn" style="display:block;border:0;">
                            </a>
                        </td>

                        <td style="width:30px;">
                            |
                        </td>

                        <td>
                            <a href="https://www.facebook.com/robbie.verdurme">
                                <img src="https://img.icons8.com/ios-filled/100/ffffff/facebook-new.png" width="32"
                                    alt="Facebook" style="display:block;border:0;">
                            </a>
                        </td>

                        <td style="width:30px;">
                            |
                        </td>

                        <td>
                            <a href="https://discord.com/users/boeferrob">
                                <img src="https://img.icons8.com/ios-filled/100/ffffff/discord-logo.png" width="32"
                                    alt="Discord" style="display:block;border:0;">
                            </a>
                        </td>

                    </tr>

                </table>

            </td>

        </tr>
    </tbody>
</table>
